body,
html {
margin: 0;
padding: 0;
font-family: 'sans';
font-size: 10px;
background: #19172e;
}

@font-face {
  src: url('font/sans.ttf');
  font-family: 'sans';
}

h1 {
  font-size: 5.5rem;
  color:aliceblue;
  text-align: center;
  font-family: "Arvo",cursive;
}

span {
  font-size: 100;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 40vh;
  justify-content: center;
  align-items: center;

}

.key {
  border: .4rem solid whitesmoke;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .7s ease;
  width: 10rem;
  text-align: center;
  color: whitesmoke;
  background-color: #212121;
}

/* .key:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
} */

.playing {
  transform: scale(1.1);
  border-color: #bb86fc;
  box-shadow:  0 0 1rem #bb86fc;
}


kbd {
  display: block;
  font-size: 4rem;
}


.sound {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #bb86fc;
}

kbd {
  cursor: pointer;
}